@import "tailwindcss";

@theme {
  --color-green-lightest: #ECFAE5;
  --color-green-light: #DDF6D2;
  --color-green: #CAE8BD;
  --color-green-dark: #B0DB9C;
  --color-green-darkest: #88C070;

  --color-gray-light: #EEEEEE;
  --color-gray-default: #DDDDDD;
  --color-gray-dark: #BBBBBB;
}

@import './base.css';

body {
  background-color: #ECFAE5;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  background-color: #ECFAE5;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
