.profiel-container {
  margin-top: 100px; /* ruimte onder navbar */
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px;
}

/* LINKERKANT */
.profiel-links {
  width: 250px;
}

.profiel-links h2 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 600;
}

.profiel-links p {
  margin-top: 10px;
  color: #333;
}

/* RECHTERKANT */
.profiel-rechts {
  flex: 1;
  height: 500px;
  width: 800px;
}

.profiel-card {
  background-color: #dff0d8; /* lichtgroen zoals screenshot */
  padding: 30px 40px;
  border-radius: 6px;
  line-height: 1.9;
  font-size: 18px;
}
