:root {
  --secondary-color: #DDF6D2;
  --text-color: black;
  --background-color: #f5f5f5;
  --background-color-hover: #DDF6D2;
  --background-color-button: #ECFAE5;
}

.profiel-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 300px; /* links | rechts */
  grid-template-rows: auto auto;
  gap: 40px;
  margin-left: -100px;
}
.profiel-boven {
  grid-column: 1;
  grid-row: 1;
  width: 700px;
  color: var(--text-color);
}

.profiel-onder {
  grid-column: 1;
  grid-row: 2;
  max-width: 700px;
}

.profiel-rechts {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: flex-start;
}

.profiel-boven {
  max-width: 700px;
  padding-bottom: 0px;
}

.profiel-boven h2 {
  margin: 0 0 6px 0;
  font-size: 28px;
  font-weight: 600;
}

.profiel-onder {
padding-bottom: 40px;
}

.profiel-card {
  background-color: var(--secondary-color);
  padding: 26px 28px;
  border-radius: 8px;
  line-height: 1.9;
  font-size: 18px;
  color: var(--text-color);
}

.button-box {
  display: inline-block;
  margin-top: 10px;
  background: var(--background-color-button);
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
}
.button-box:hover {
  background: var(--background-color-hover);
}

.profiel-card p {
  margin: 0 0 10px 0;
}

.profiel-rechts {
  margin-top: 21px;
  display: flex;
  padding-top: 205px;
  padding-left: 40px;
  width: 400px;
}
